div.layout {
  background:#111;
  height:100%;
  z-index:1001}
div.layout .content {
  width:100%}
div.layout .fixed-area {
  height:100%;
  left:0;
  pointer-events:none;
  position:fixed;
  top:0;
  width:100%;
  z-index:-1}
div.layout .fixed-area img {
  height:100%;
  left:0;
  -o-object-fit:cover;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%}
div.layout .fixed-area .fade-enter-active {
  transition:opacity 1.5s ease-in-out}
div.layout .fixed-area .fade-leave-active {
  transition:opacity 1.5s ease-out}
div.layout .fixed-area .fade-enter-to,div.layout .fixed-area .fade-leave-from {
  opacity:1}
div.layout .fixed-area .fade-enter-from,div.layout .fixed-area .fade-leave-to {
  opacity:0}
div.layout .term-modal {
  height:100%;
  left:0;
  opacity:0;
  position:fixed;
  top:0;
  transition:all .3s ease;
  visibility:hidden;
  width:100%;
  z-index:1002}
div.layout .term-modal .terms-modal-bg {
  background:#000c;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%}
div.layout .term-modal .terms-modal-main {
  background:#111;
  border-radius:0;
  box-shadow:0 0 10px #00000080;
  box-sizing:border-box;
  color:#fff;
  display:flex;
  flex-direction:column;
  height:58.4%;
  left:50%;
  overflow-y:auto;
  padding:1.5625vw;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:35.521%}
div.layout .term-modal .terms-modal-main .terms-modal-title {
  align-content:flex-start;
  align-items:center;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  font-family:Pretendard,sans-serif;
  font-size:1.042vw;
  font-style:normal;
  font-weight:700;
  height:3.646vw;
  justify-content:center;
  line-height:normal;
  position:relative}
div.layout .term-modal .terms-modal-main .terms-modal-title svg {
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  width:1.09375vw}
div.layout .term-modal .terms-modal-main .terms-modal-content {
  color:#fff;
  font-family:Pretendard,sans-serif;
  font-size:.729vw;
  font-style:normal;
  font-weight:500;
  height:90%;
  line-height:normal;
  overflow-y:auto;
  white-space:pre-wrap;
  width:100%}
div.layout .term-modal.active {
  opacity:1;
  visibility:visible}
div.layout .portfolio-overlay {
  background:#111;
  left:0;
  min-height:100vh;
  opacity:0;
  padding:2.083vw 1.5625vw;
  pointer-events:none;
  position:fixed;
  top:0;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper {
  height:100%;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .portfolio-title-section {
  height:16.25vw;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .thumbnail-image {
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .thumbnail-image img {
  height:auto;
  -o-object-fit:cover;
  object-fit:cover;
  width:100%}
@media screen and (max-width:1024px) {
  div.layout {
  height:100%}
div.layout .term-modal {
  height:100%;
  left:0;
  opacity:0;
  position:fixed;
  top:0;
  transition:all .3s ease;
  visibility:hidden;
  width:100%;
  z-index:1002}
div.layout .term-modal .terms-modal-bg {
  background:#000c;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%}
div.layout .term-modal .terms-modal-main {
  background:#111;
  border-radius:0;
  box-shadow:0 0 10px #00000080;
  box-sizing:border-box;
  color:#fff;
  display:flex;
  flex-direction:column;
  height:61.1%;
  left:50%;
  overflow-y:auto;
  padding:3.2vw;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:95.2vw}
div.layout .term-modal .terms-modal-main .terms-modal-title {
  align-content:flex-start;
  align-items:center;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  font-family:Pretendard,sans-serif;
  font-size:4.27vw;
  font-style:normal;
  font-weight:700;
  height:15%;
  justify-content:flex-start;
  line-height:normal;
  position:relative}
div.layout .term-modal .terms-modal-main .terms-modal-title svg {
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  width:5.6vw}
div.layout .term-modal .terms-modal-main .terms-modal-content {
  color:#fff;
  font-family:Pretendard,sans-serif;
  font-size:3.2vw;
  font-style:normal;
  font-weight:500;
  height:85%;
  line-height:normal;
  overflow:auto;
  white-space:break-spaces;
  width:100%}
div.layout .term-modal.active {
  opacity:1;
  visibility:visible}
div.layout .portfolio-overlay {
  background:#111;
  height:100vh;
  left:0;
  opacity:0;
  padding:8vh 4.27vw;
  pointer-events:none;
  position:fixed;
  top:0;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper {
  height:100%;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .portfolio-title-section {
  height:18vh;
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .thumbnail-image {
  width:100%}
div.layout .portfolio-overlay .portfolio-overlay-wrapper .thumbnail-image img {
  height:auto;
  -o-object-fit:cover;
  object-fit:cover;
  width:100%}
}

