.hamburger[data-v-704885e5] {
  display:none}
nav[data-v-704885e5] {
  font-family:Public Sans,sans-serif;
  justify-content:space-between;
  mix-blend-mode:difference;
  padding:1.5625vw;
  position:fixed;
  top:0;
  width:100%;
  z-index:1001}
nav[data-v-704885e5],nav .logo-home[data-v-704885e5] {
  align-items:center;
  display:flex}
nav .logo-home[data-v-704885e5] {
  flex-wrap:wrap;
  height:100%;
  justify-content:flex-start;
  width:8.698vw}
nav .logo-home svg[data-v-704885e5] {
  height:100%;
  width:100%}
nav div.route-list[data-v-704885e5] {
  gap:2px}
nav div.route-list[data-v-704885e5],nav div.route-list div.route a[data-v-704885e5] {
  align-items:center;
  display:flex;
  justify-content:space-between}
nav div.route-list div.route a[data-v-704885e5] {
  color:#fff;
  font-size:1.042vw;
  font-weight:700;
  padding:.104vw .78125vw;
  text-decoration:none;
  transition:all .3s ease}
nav div.route-list div.route a svg[data-v-704885e5] {
  margin-left:.521vw;
  opacity:0;
  transition:all .3s ease;
  width:.677vw}
nav div.route-list div.route a[data-v-704885e5]:after {
  content:"";
  height:0}
nav div.route-list div.route a.router-link-active svg[data-v-704885e5],nav div.route-list div.route a:hover svg[data-v-704885e5] {
  opacity:1;
  transform:rotate(90deg)}
nav div.route-list div.route a.router-link-active svg path[data-v-704885e5],nav div.route-list div.route a:hover svg path[data-v-704885e5] {
  stroke:#b19876;
  fill:#b19876}
.route-list-menu[data-v-704885e5] {
  display:none}
@media screen and (max-width:1024px) {
  nav[data-v-704885e5] {
  align-items:center;
  display:flex;
  font-family:Public Sans,sans-serif;
  justify-content:space-between;
  mix-blend-mode:difference;
  padding:4.27vw;
  position:fixed;
  top:0;
  width:100%;
  z-index:1001}
nav .logo-home[data-v-704885e5],nav .logo-home svg[data-v-704885e5] {
  width:22.133vw}
.hamburger[data-v-704885e5] {
  color:#fff;
  display:flex;
  height:17px;
  position:fixed;
  right:4.27vw;
  transform:rotate(0);
  transition:.5s ease-in-out;
  width:9.33vw;
  z-index:100}
.hamburger span[data-v-704885e5] {
  background:#fff;
  display:block;
  height:3px;
  opacity:1;
  position:absolute;
  transform:rotate(0);
  transition:.25s ease-in-out;
  width:50%}
.hamburger span[data-v-704885e5]:nth-child(2n) {
  left:50%}
.hamburger span[data-v-704885e5]:nth-child(odd) {
  left:0}
.hamburger span[data-v-704885e5]:first-child,.hamburger span[data-v-704885e5]:nth-child(2) {
  top:0}
.hamburger span[data-v-704885e5]:nth-child(3),.hamburger span[data-v-704885e5]:nth-child(4) {
  top:7px}
.hamburger span[data-v-704885e5]:nth-child(5),.hamburger span[data-v-704885e5]:nth-child(6) {
  bottom:0}
.hamburger.active span[data-v-704885e5]:first-child,.hamburger.active span[data-v-704885e5]:nth-child(6) {
  transform:rotate(45deg)}
.hamburger.active span[data-v-704885e5]:nth-child(2),.hamburger.active span[data-v-704885e5]:nth-child(5) {
  transform:rotate(-45deg)}
.hamburger.active span[data-v-704885e5]:first-child {
  left:1.35vw;
  top:0}
.hamburger.active span[data-v-704885e5]:nth-child(2) {
  left:calc(50% - 1.35vw);
  top:0}
.hamburger.active span[data-v-704885e5]:nth-child(3) {
  left:-100%;
  opacity:0}
.hamburger.active span[data-v-704885e5]:nth-child(4) {
  left:100%;
  opacity:0}
.hamburger.active span[data-v-704885e5]:nth-child(5) {
  left:1.35vw;
  top:7px}
.hamburger.active span[data-v-704885e5]:nth-child(6) {
  left:calc(50% - 1.35vw);
  top:7px}
.route-list[data-v-704885e5] {
  display:none!important}
.route-list-menu[data-v-704885e5] {
  align-content:center;
  align-items:center;
  background:#000;
  box-sizing:border-box;
  display:flex;
  flex-wrap:wrap;
  gap:4.5vh;
  height:100%;
  justify-content:flex-end;
  max-height:100vh;
  max-width:100%;
  position:fixed;
  right:0;
  top:0;
  transform:translate(100%);
  transition:transform .3s ease;
  width:100%;
  z-index:999}
.route-list-menu.active[data-v-704885e5] {
  transform:translate(0)}
.route-list-menu .route[data-v-704885e5] {
  padding:0 4.27vw;
  width:100%}
.route-list-menu .route svg[data-v-704885e5] {
  height:4.27vw;
  width:4.27vw}
.route-list-menu .route svg path[data-v-704885e5] {
  stroke:transparent}
.route-list-menu .route a[data-v-704885e5] {
  align-items:center;
  color:#fff;
  display:flex;
  font-family:Public Sans,sans-serif;
  font-size:8vw;
  font-style:normal;
  font-weight:600;
  gap:2.13vw;
  justify-content:flex-end;
  letter-spacing:-.4vw;
  line-height:normal;
  transition:all .3s ease}
.route-list-menu .route .router-link-active svg[data-v-704885e5] {
  display:block}
.route-list-menu .route .router-link-active svg path[data-v-704885e5] {
  stroke:#b19876}
}

